@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin pseudo() {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
}

@mixin button($color) {
  background: $color;
  border-color: $color;

  &:hover, &:focus {
    color: $color;
  }
}
