$white: #ffffff;
$outrageousOrange: #fd5c3c;
$redRobin: #7a3222;
$gallery: #ececec;
$alabaster: #f7f7f7;
$mineShaft: #272727;

$textColor: $mineShaft;
$pageBackgroundColor: $alabaster;

$buttonTextColor: $white;
$buttonBorderColor: $outrageousOrange;
$buttonBackgroundColor: $outrageousOrange;

$buttonTextHoverColor: $outrageousOrange;
$buttonBorderHoverColor: $white;
$buttonBackgroundHoverColor: $white;

$burgerMenuColor: $white;
$burgerMenuStickyColor: $redRobin;

$gameBorderColor: $outrageousOrange;

$footerColor: $white;
$footerBackgroundColor: $mineShaft;

$titleFont: RobotoExtraBlack, sans-serif;
