@import "../helpers/variables";
@import "../helpers/mixins.scss";

.round-button {
  border: 2px solid lightgrey;
  background: transparent;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  color: $buttonColor;

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: $buttonColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--blue {
    background: $blueGradient;
  }
  &--pink {
    background: $pinkGradient;
  }
  &--purple {
    background: $purpleGradient;
  }
  &--green {
    background: $greenGradient;
  }
  &--cyan {
    background: $cyanGradient;
  }

  &--pink,
  &--blue,
  &--green,
  &--purple,
  &--cyan {
    border: 0px solid;
  }

  &--add {
    &:before {
      height: 1em;
      width: 0.2em;
    }

    &:after {
      height: 0.2em;
      width: 1em;
    }
  }

  &--remove {
    opacity: 0.3;
    &:after {
      height: 0.2em;
      width: 1em;
    }
  }

  &--small {
    font-size: 12px;
  }

  &--large {
    font-size: 22px;
  }

  &:hover {
    opacity: 0.7;
  }
}
