@import "../helpers/variables";
@import "../helpers/mixins.scss";

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  min-width: 250px;

  &__title {
    font-size: 0.9rem;
    line-height: 4rem;
    color: $navTitleColor;
    opacity: 0.5;
    font-weight: bold;
    margin: 25px;
  }

  &--theme--dark {
    background: $MenuBackgroundColor;
    color: $MenuColor;
  }

  &__app-control {
    align-self: flex-start;
    width: 100%;
    overflow: visible;
  }
}
