@import "../helpers/variables";

.server-control {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px auto;
  width: 70%;
  color: $serverControlButtonColor;

  div {
    flex: 0 1 auto;
    margin: 10px auto;
  }

  &__label {
    position: relative;
    font-size: 0.9rem;

    &--remove {
      opacity: 0.3;
    }
  }
}
